@model Subscriber_File;
@{

}
<form asp-action="Create" class="m-5">
<h2> تحديث بينات المشترك  </h2>
    <div class="row">
        <div class="form-group">
            <label>الجوال</label>
            <input type="number" class="form-control" asp-for="Subscriber_File_Mobile"  maxlength="11"> 
            <span asp-validation-for="Subscriber_File_Mobile" class="text-danger"></span>
        </div>

        <div class="col-sm">
            <div class="col-sm">
                <div class="form-group">
                    <label>رقم الهويه </label>
                    <input type="number" class="form-control" asp-for="Subscriber_File_Id" >
                    <span asp-validation-for="Subscriber_File_Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">الاسم</label>
                    <input type="text" class="form-control" asp-for="Subscriber_File_Name">
                    <span class="text-danger" asp-validation-for="Subscriber_File_Name"></span>
                </div>
                <div class="form-group">
                    <label>المدينه</label>
                    <input type="text" class="form-control" asp-for="Subscriber_File_City">
                    <span asp-validation-for="Subscriber_File_City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">الحى</label>
                    <input type="text" class="form-control" asp-for="Subscriber_File_Area">
                    <span class="text-danger" asp-validation-for="Subscriber_File_Area"></span>
                </div>
            </div>
        </div>

    </div>
    <button type="submit" class="btn btn-primary">حفظ</button>
    <button class="btn btn-danger">انهاء</button>
 
</form>

<style>
  .container{
         max-width: 849px;
     }

</style>